{{!-- Generate Hero Indicator Nav Buttons --}}

{{#if (if_first @index)}}
<button type="button" data-bs-target="#herosel" data-bs-slide-to="{{@index}}" class="carousel__indicator active" aria-current="true" aria-label="Slide {{@index}}"></button>
{{else}}
<button type="button" data-bs-target="#herosel" data-bs-slide-to="{{@index}}" class="carousel__indicator" aria-label="Slide {{@index}}"></button>
{{/if}}
