{{#if (if_first @index)}}
<li class="carousel__slide current-slide">
{{else}}
<li class="carousel__slide">
{{/if}}
  <h1>{{game_name}}</h1>
    <img class="carousel__image" src="{{game_image_URL}}" alt="{{game_name}}">
  <h3>{{@index}}</h3>
</li>
