<section class="u-align-center u-clearfix u-grey-70 trending-block" id="sec-7e84">
         <h2 class="trending-stream-header u-custom-font u-text u-text-body-color u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">Today's Trending Streams</h2>
         <div class="twitch-card u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-gallery u-layout-horizontal u-lightbox u-no-transition u-show-text-always u-width-fixed u-gallery-1" id="carousel-75e9">
            <div class="u-gallery-inner u-gallery-inner-1" role="listbox">
               <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-1" data-href="https://twitch.com/" data-target="_blank">
                  <div class="u-back-slide" data-image-width="480" data-image-height="270">
                      <img class="u-back-image u-back-image-1" src="images/giphy1.gif" alt="twitch image">{{twitch.image}}</div>
                  <div class="u-align-center u-over-slide u-valign-middle u-over-slide-1">
                     <h2 class="u-custom-font u-gallery-heading u-text-white" style="font-family: Anton; font-size: 1.25rem; background-image: none; text-transform: uppercase;">{{player-name.title}}</h2>
                     <h5 class="u-gallery-text u-text-custom-color-1" style="text-transform: uppercase; font-size: 0.875rem;">{{game-name.title}}</h5>
                  </div>
               </div>
              <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-2" data-href="https://twitch.com/" data-target="_blank">
                  <div class="u-back-slide" data-image-width="480" data-image-height="270">
                      <img class="u-back-image u-back-image-1" src="images/giphy1.gif" alt="twitch image">{{twitch.image}}</div>
                  <div class="u-align-center u-over-slide u-valign-middle u-over-slide-1">
                     <h2 class="u-custom-font u-gallery-heading u-text-white" style="font-family: Anton; font-size: 1.25rem; background-image: none; text-transform: uppercase;">{{player-name.title}}</h2>
                     <h5 class="u-gallery-text u-text-custom-color-1" style="text-transform: uppercase; font-size: 0.875rem;">{{game-name.title}}</h5>
                  </div>
               </div>
               <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-3" data-href="https://twitch.com/" data-target="_blank">
                  <div class="u-back-slide" data-image-width="480" data-image-height="270">
                      <img class="u-back-image u-back-image-1" src="images/giphy1.gif" alt="twitch image">{{twitch.image}}</div>
                  <div class="u-align-center u-over-slide u-valign-middle u-over-slide-1">
                     <h2 class="u-custom-font u-gallery-heading u-text-white" style="font-family: Anton; font-size: 1.25rem; background-image: none; text-transform: uppercase;">{{player-name.title}}</h2>
                     <h5 class="u-gallery-text u-text-custom-color-1" style="text-transform: uppercase; font-size: 0.875rem;">{{game-name.title}}</h5>
                  </div>
               </div>
               <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-5" data-href="https://twitch.com/" data-target="_blank">
                  <div class="u-back-slide" data-image-width="480" data-image-height="270">
                      <img class="u-back-image u-back-image-1" src="images/giphy1.gif" alt="twitch image">{{twitch.image}}</div>
                  <div class="u-align-center u-over-slide u-valign-middle u-over-slide-1">
                     <h2 class="u-custom-font u-gallery-heading u-text-white" style="font-family: Anton; font-size: 1.25rem; background-image: none; text-transform: uppercase;">{{player-name.title}}</h2>
                     <h5 class="u-gallery-text u-text-custom-color-1" style="text-transform: uppercase; font-size: 0.875rem;">{{game-name.title}}</h5>
                  </div>
               </div>
               <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-6" data-href="https://twitch.com/" data-target="_blank">
                  <div class="u-back-slide" data-image-width="480" data-image-height="270">
                      <img class="u-back-image u-back-image-1" src="images/giphy1.gif" alt="twitch image">{{twitch.image}}</div>
                  <div class="u-align-center u-over-slide u-valign-middle u-over-slide-1">
                     <h2 class="u-custom-font u-gallery-heading u-text-white" style="font-family: Anton; font-size: 1.25rem; background-image: none; text-transform: uppercase;">{{player-name.title}}</h2>
                     <h5 class="u-gallery-text u-text-custom-color-1" style="text-transform: uppercase; font-size: 0.875rem;">{{game-name.title}}</h5>
                  </div>
               </div>
               <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-7" data-href="https://twitch.com/" data-target="_blank">
                  <div class="u-back-slide" data-image-width="480" data-image-height="270">
                      <img class="u-back-image u-back-image-1" src="images/giphy1.gif" alt="twitch image">{{twitch.image}}</div>
                  <div class="u-align-center u-over-slide u-valign-middle u-over-slide-1">
                     <h2 class="u-custom-font u-gallery-heading u-text-white" style="font-family: Anton; font-size: 1.25rem; background-image: none; text-transform: uppercase;">{{player-name.title}}</h2>
                     <h5 class="u-gallery-text u-text-custom-color-1" style="text-transform: uppercase; font-size: 0.875rem;">{{game-name.title}}</h5>
                  </div>
               </div>
            </div>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
               <span aria-hidden="true">
                  <svg viewBox="0 0 451.847 451.847">
                     <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
                        c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
                        c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                  </svg>
               </span>
               <span class="sr-only">
                  <svg viewBox="0 0 451.847 451.847">
                     <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
                        c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
                        c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                  </svg>
               </span>
            </a>
            <a class="u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
               <span aria-hidden="true">
                  <svg viewBox="0 0 451.846 451.847">
                     <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
                        L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
                        c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                  </svg>
               </span>
               <span class="sr-only">
                  <svg viewBox="0 0 451.846 451.847">
                     <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
                        L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
                        c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                  </svg>
               </span>
            </a>
         </div>
      </section>