<div class="container text-center my-3">
    <h2 class="font-weight-light">TRENDING STREAMS</h2>
    <div class="row mx-auto my-auto">
        <div id="twitchCarousel" class="carousel slide w-100" data-ride="t_carousel">
            <div class="t_carousel-inner w-100" role="listbox">
                <div class="carousel-item active twitch-card">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ game.image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ player name }}</h5>
                                <p class="game-name"> {{ game name }}</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ game.image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ player name }}</h5>
                                <p class="game-name"> {{ game name }}</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ game.image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ player name }}</h5>
                                <p class="game-name"> {{ game name }}</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ game.image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ player name }}</h5>
                                <p class="game-name"> {{ game name }}</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ game.image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ player name }}</h5>
                                <p class="game-name"> {{ game name }}</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ game.image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ player name }}</h5>
                                <p class="game-name"> {{ game name }}</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ game.image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ player name }}</h5>
                                <p class="game-name"> {{ game name }}</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ game.image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ player name }}</h5>
                                <p class="game-name"> {{ game name }}</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="{{ game.image }}" alt="game-play image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="player-name">{{ player name }}</h5>
                                <p class="game-name"> {{ game name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#twitchCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only"><</span>
            </a>
            <a class="carousel-control-next w-auto" href="#twitchCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">></span>
            </a>
        </div>
    </div>
</div>